[Unit]
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
User=shreyas
Group=www-data
WorkingDirectory=/home/shreyas/BTECHPROECT/myproject
Environment="PATH=/home/shreyas/BTECHPROECT/myproject/myprojectenv/bin"
ExecStart=/home/shreyas/BTECHPROECT/myproject/myprojectenv/bin/gunicorn --workers 3 --timeout 600 --bind unix:/tmp/myproject.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target

